<h1>index</h1>
<a href="/login">Protected url by indirect basic auth: /login</a> (use login = pwd)<br />
<br />
<a href="/jwt">Generate a JWT token</a> (after being authenticated)<br />
<a href="/auth">Protected url by ParameterClient: /auth</a> (with request parameter: token=<em>jwt_generated_token</em>)<br />
<br />
<a href="/logout?url=/?forcepostlogouturl">local logout</a><br />
<br /><br />
profiles: {{profiles}}<br />
<br />
sessionId: {{sessionId}}
